server:
  port: ${PORT:8780}

spring:
  application:
    name: MsBookPayment
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
    hostname: ms-book-payment

## Configuracion secundaria (custom)
validatePedido:
  url: http://ms-books-catalogue/books/availability
